# API Gateway
VITE_API_GW_BASE_URL=
VITE_API_GW_BASE_URL_SANDBOX=

# Cognito
VITE_DASHBOARD_USER_POOL_ID=
VITE_DASHBOARD_CLIENT_ID=

# i18n
VITE_I18N_LOCALE=es_CO
VITE_I18N_FALLBACK_LOCALE=es_PA

# Module Federation — MFE URLs
MFE_TRANSACTIONS_URL=http://localhost:3001/remoteEntry.js
MFE_PAYOUTS_URL=http://localhost:3002/remoteEntry.js
MFE_SETTINGS_URL=http://localhost:3003/remoteEntry.js
